@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap");

:root {
  /* THEME ONE */

  /* Backgrounds */
  --theme-1-main-bg: hsl(222, 26%, 31%);
  --theme-1-toggle-bg: hsl(223, 31%, 20%);
  --theme-1-screen-bg: hsl(224, 36%, 15%);

  /* Keys */
  --theme-1-darkblue-key-bg: hsl(225, 21%, 49%);
  --theme-1-darkblue-key-shadow: hsl(224, 28%, 35%);
  --theme-1-red-key-bg: hsl(6, 63%, 50%);
  --theme-1-darkred-key-shadow: hsl(6, 70%, 34%);
  --theme-1-orange-key-bg: hsl(30, 25%, 89%);
  --theme-1-orange-key-shadow: hsl(28, 16%, 65%);

  /* Text */
  --theme-1-darkblue-txt-clr: hsl(221, 14%, 31%);
  --theme-1-white-txt-clr: hsl(0, 0%, 100%);

  /* THEME TWO */

  /* Backgrounds */
  --theme-2-lightgray-main-bg: hsl(0, 0%, 90%);
  --theme-2-grayishred-toggle-bg: hsl(0, 5%, 81%);
  --theme-2-lightgray-screen-bg: hsl(0, 0%, 100%);

  /* Keys */
  --theme-2-darkcyan-key-bg: hsl(185, 42%, 37%);
  --theme-2-darkcyan-key-shadow: hsl(185, 58%, 25%);
  --theme-2-orange-key-bg: hsl(25, 98%, 40%);
  --theme-2-darkorange-key-shadow: hsl(25, 99%, 27%);
  --theme-2-lightyellow-key-bg: hsl(45, 7%, 89%);
  --theme-2-grayishorange-key-shadow: hsl(35, 11%, 61%);

  /* Text */
  --theme-2-darkyellow-txt-clr: hsl(60, 10%, 19%);
  --theme-2-white-txt-clr: hsl(0, 0%, 100%);

  /* THEME THREE */

  /* Backgrounds */
  --theme-3-darkviolet-main-bg: hsl(268, 75%, 9%);
  --theme-3-darkviolet-toggle-bg: hsl(268, 72%, 17%);
  --theme-3-darkviolet-screen-bg: hsl(268, 72%, 17%);

  /* Keys */
  --theme-3-darkviolet-key-bg: hsl(268, 47%, 21%);
  --theme-3-magenta-key-shadow: hsl(290, 70%, 36%);
  --theme-3-purecyan-key-bg: hsl(176, 100%, 44%);
  --theme-3-softcyan-key-shadow: hsl(177, 92%, 70%);
  --theme-3-darkmagenta-key-bg: hsl(281, 89%, 26%);
  --theme-3-darkmagenta-key-shadow: hsl(285, 91%, 52%);

  /* Text */
  --theme-3-lightyellow-txt-clr: hsl(52, 100%, 62%);
  --theme-3-darkblue-txt-clr: hsl(198, 20%, 13%);
  --theme-3-white-txt-clr: hsl(0, 0%, 100%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: 700;
}

html {
  font-family: "League Spartan", sans-serif;
  font-size: 62.5%;
}

body {
  background-color: var(--theme-1-main-bg);
  font-size: 3.2rem;
  min-height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  padding: 25px;
}

.header-section {
  color: var(--theme-1-white-txt-clr);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;

  .app-logo {
    font-size: 3rem;
    cursor: pointer;
    transition: all 0.2s ease-in-out;

    &:hover {
      transform: scale(1.05);
    }
  }

  .app-theme {
    display: flex;
    align-items: end;
    gap: 30px;

    & h2 {
      font-size: 1.2rem;
    }

    .theme-settings {
      display: flex;
      flex-direction: column;
      width: 65px;
      height: 40px;
      justify-content: space-between;

      .theme-numbers {
        display: flex;
        font-size: 1.2rem;
        justify-content: space-around;
      }

      .theme-control {
        height: 55%;
        width: 100%;
        background-color: var(--theme-1-toggle-bg);
        border-radius: 50px;
        display: flex;
        align-items: center;
        padding: 3px;
        cursor: pointer;
        transition: all 0.2s ease-in-out;

        &:hover {
          transform: scale(1.05);
        }
        &:active {
          opacity: 0.5;
        }

        .theme-control-knob {
          width: 18px;
          height: 18px;
          background-color: var(--theme-1-red-key-bg);
          border-radius: 100%;
        }
      }
    }
  }
}

.display-field {
  margin-top: 30px;
  width: 100%;
  height: 100px;
  border-radius: 9px;
  border: none;
  font-size: 5.5rem;
  padding: 20px;
  text-align: right;
  color: var(--theme-1-white-txt-clr);
  background-color: var(--theme-1-screen-bg);
}

.keypad {
  margin-top: 20px;
  background-color: var(--theme-1-screen-bg);
  padding: 25px;
  border-radius: 9px;
  color: var(--theme-1-darkblue-txt-clr);
  display: flex;
  flex-direction: column;
  gap: 20px;

  .key-row {
    display: flex;
    justify-content: space-between;
    gap: 20px;
  }

  & button {
    height: 85px;
    width: 50%;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    transition: all 0.2s;
    font-size: 2.5rem;
    background-color: var(--theme-1-orange-key-bg);
    box-shadow: 0px 5px 1px var(--theme-1-orange-key-shadow);
    text-transform: uppercase;

    &:hover {
      transform: scale(1.05);
    }

    &:active {
      opacity: 0.5;
    }
  }

  .del,
  .reset {
    background-color: var(--theme-1-darkblue-key-bg);
    box-shadow: 0px 5px 1px var(--theme-1-darkblue-key-shadow);
    color: var(--theme-1-white-txt-clr);
  }

  .equals-to {
    background-color: var(--theme-1-red-key-bg);
    box-shadow: 0px 5px 1px var(--theme-1-darkred-key-shadow);
    color: var(--theme-1-white-txt-clr);
  }
}

/* THEME 2 STYLES */
.theme-2 {
  background-color: var(--theme-2-lightgray-main-bg);

  .header-section {
    color: var(--theme-2-darkyellow-txt-clr);

    .app-theme {
      .theme-settings {
        .theme-control {
          justify-content: center;
          background-color: var(--theme-2-grayishred-toggle-bg);
        }
      }
    }
  }

  .display-field {
    background-color: var(--theme-2-lightgray-screen-bg);
    color: var(--theme-2-darkyellow-txt-clr);
  }

  .keypad {
    background-color: var(--theme-2-grayishred-toggle-bg);
    color: var(--theme-2-darkyellow-txt-clr);

    & button {
      background-color: var(--theme-2-lightyellow-key-bg);
      box-shadow: 0px 5px 1px var(--theme-2-grayishorange-key-shadow);
    }

    .del,
    .reset {
      background-color: var(--theme-2-darkcyan-key-bg);
      box-shadow: 0px 5px 1px var(--theme-2-darkcyan-key-shadow);
      color: var(--theme-2-white-txt-clr);
    }

    .equals-to {
      background-color: var(--theme-2-orange-key-bg);
      box-shadow: 0px 5px 1px var(--theme-2-darkorange-key-shadow);
      color: var(--theme-2-white-txt-clr);
    }
  }
}

/* THEME 2 STYLES */
.theme-3 {
  background-color: var(--theme-3-darkviolet-main-bg);

  .header-section {
    color: var(--theme-3-lightyellow-txt-clr);

    .app-theme {
      .theme-settings {
        .theme-control {
          justify-content: end;
          background-color: var(--theme-3-darkviolet-toggle-bg);
          .theme-control-knob {
            background-color: var(--theme-3-purecyan-key-bg);
          }
        }
      }
    }
  }

  .display-field {
    background-color: var(--theme-3-darkviolet-screen-bg);
    color: var(--theme-3-lightyellow-txt-clr);
  }

  .keypad {
    background-color: var(--theme-3-darkviolet-toggle-bg);

    & button {
      background-color: var(--theme-3-darkviolet-key-bg);
      box-shadow: 0px 5px 1px var(--theme-3-magenta-key-shadow);
      color: var(--theme-3-lightyellow-txt-clr);
    }

    .del,
    .reset {
      background-color: var(--theme-3-darkmagenta-key-bg);
      box-shadow: 0px 5px 1px var(--theme-3-darkmagenta-key-shadow);
      color: var(--theme-3-white-txt-clr);
    }

    .equals-to {
      background-color: var(--theme-3-purecyan-key-bg);
      box-shadow: 0px 5px 1px var(--theme-3-softcyan-key-shadow);
      color: var(--theme-3-darkblue-txt-clr);
    }
  }
}

@media screen and (min-width: 750px) {
  body {
    padding: 5rem 10rem;
  }
}

@media screen and (min-width: 1200px) {
  body {
    padding: 5rem 40rem;

    /* & button {
      height: 50px;
    } */
  }
}
